.livestream{

    height:60vh;
}


.livestream-right{

    height:60vh;
    background-color: white;

}

.social{
    height:10vh;
}


.subscribe-mail {
    border: 1vh solid white;
    height:10vh;
    background-color: #bc6923;

    padding: 10px 10px 10px 10px;
}

.subscribe-mail>div{

    font-size: 2.4vh;
}

.subscribe{
    height:5vh;
    width:5vh;


}

.subscribe strong{
    font-size:3vh;


}

.upcoming-shows {
    font-size: .5em;
    color: white;
    font-size: small;
}

.btn-secondary{
    background-color: #ededef;


}
.orange-bar{
    border-top:    .5vh solid #ffffff;
    border-right:  1vh solid #ffffff;
    border-left:   1vh solid #ffffff;
    height:10vh;
    background-color: #bc6923;
}

.youtube-latest{
    ;
    height:30vh;
    border-right:  1vh solid #ffffff;
    border-left:   1vh solid #ffffff;    background-color: #24201d;
}

#show-countdown{
    color: #bc6923;
    font-size: 5vh;
    text-align: center;
    
}
#show-countdown-time{
    color: black;
    font-size: 5vh;
    text-align: center;

}


#upcoming_shows div{

    height:30vh;
    color: white;
    font-size: 5vh;
    text-align: center;
    background-color: black;
    border-radius: 2vh;
    border-top: 1vh;
    border-bottom: 1vh;
    border-color: white;
    border-style: solid;
    padding:0;
}

.panels>div{

    height: 25vh;
    border: 1vh solid white;
    color: white;
    font-size: 5vh;
    text-align: center;
    background-color: black;
    border-radius: 2vh;


}

.stream{
    height: 45vh;
    border: .5vh solid white;
    color: white;
    font-size: 5vh;
    text-align: center;
    background-color: black;
    border-radius: 4vh;

}



.footer{

    height:20vh;

}


#youre_watching{
    background-color:black;
    height:4vh;
    text-align: center;
    font-size: 3vh;
    color: white;

}

#upcoming{
    background-color:black;
    height:4vh;
    text-align: center;
    font-size: 3vh;
    color: white;


}

.divider{
    background-color:black;
    height: 3vh;

}

.footer>div{


    height:20vh;
    text-align: center;
    font-size: 1.2vw;
    background-color: lightgray;

}

.menu{
    padding:0;
    margin:0;
    list-style-type: none;


}

.menu li{

    padding-top:1.3vh;
}




.share div{
    text-align: center;
    font-size:4vh;

}

.contain{
    padding-top:4vw;
}

