.livestream{

    height:40vh;
    border: 1px solid black;
}

.event{

    height:30vh;
    border: 1px solid black;

}

.panels>div{

    height: 25vh;
    border: 4px solid white;
    color: white;
    font-size: 5vh;
    text-align: center;
    background-color: black;


}

.stream{
    height:25vh;
    border: 1px solid black;

}

.footer>div{

    height:20vh;
    border: 1px solid black;
}

#youre_watching{
    background-color:black;
    height:4vh;
    text-align: center;
    font-size: 3vh;
    color: orangered;

}

#upcoming{
    background-color:black;
    height:4vh;
    text-align: center;
    font-size: 3vh;
    color: orangered;


}
